/* style.css */
.wrapper {
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 grey;
    background-color: white;
  }
  
  .wrapper:hover {
    background-color: lightgray;
  }
  
